#insElemOverlay,#insRearrangeOverlay,#insMoveOverlay {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,152,219,.5)
}

#insTrackedOverlay {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,152,219,.5);
    border: 3px solid rgba(52,152,219,.7)
}

#insRearrangeOverlay,#insMoveOverlay {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(70,182,252,.2);
    border: 2px dashed #46b6fc
}

.ui-resizable-handle.movable-resize-handler {
    background-color: #d9efff!important;
    border: 2px solid #46b6fc;
    margin: -7px!important;
    border-radius: 7px;
    width: 12px!important;
    height: 12px!important
}

.ui-resizable-handle.movable-resize-handler.ui-resizable-n {
    cursor: n-resize
}

.ui-resizable-handle.movable-resize-handler.ui-resizable-e {
    cursor: e-resize
}

.ui-resizable-handle.movable-resize-handler.ui-resizable-s {
    cursor: s-resize
}

.ui-resizable-handle.movable-resize-handler.ui-resizable-w {
    cursor: w-resize
}

.ui-resizable-handle.movable-resize-handler.ui-resizable-ne {
    cursor: ne-resize
}

.ui-resizable-handle.movable-resize-handler.ui-resizable-se {
    cursor: se-resize
}

.ui-resizable-handle.movable-resize-handler.ui-resizable-sw {
    cursor: sw-resize
}

.ui-resizable-handle.movable-resize-handler.ui-resizable-nw {
    cursor: nw-resize
}

#insCancelRearrange,#insCancelMove {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    background-color: #38adff;
    color: #fff;
    right: -30px;
    cursor: pointer
}

#insCancelRearrange:before,#insCancelMove:before {
    content: '';
    position: absolute;
    width: 14px;
    top: 9px;
    left: 3px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#insCancelRearrange:after,#insCancelMove:after {
    content: '';
    position: absolute;
    width: 14px;
    top: 9px;
    left: 3px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#insElemBorderLeft,#insDroppableBorderLeft {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,152,219,.7);
    width: 2px
}

#insElemBorderRight,#insDroppableBorderRight {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,152,219,.7);
    width: 2px;
    box-shadow: #999 3px 3px 5px;
    -webkit-box-shadow: #999 3px 3px 5px
}

#insElemBorderTop,#insDroppableBorderTop {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,152,219,.7);
    height: 2px
}

#insElemBorderBottom,#insDroppableBorderBottom {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,152,219,.7);
    height: 2px;
    box-shadow: #999 3px 3px 5px;
    -webkit-box-shadow: #999 3px 3px 5px
}

#insDroppableBorderLeft,#insDroppableBorderRight,#insDroppableBorderTop,#insDroppableBorderBottom {
    background-color: rgba(219,210,23,.7)
}

#insElemShowLeft {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(209,1,0,.7);
    width: 2px
}

#insElemShowRight {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(209,1,0,.7);
    width: 2px;
    box-shadow: #999 3px 3px 5px;
    -webkit-box-shadow: #999 3px 3px 5px
}

#insElemShowTop {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(209,1,0,.7);
    height: 2px
}

#insElemShowBottom {
    z-index: 2147483645;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(209,1,0,.7);
    height: 2px;
    box-shadow: #999 3px 3px 5px;
    -webkit-box-shadow: #999 3px 3px 5px
}

.insider-preview-wrap {
    padding: 15px;
    z-index: 9999999999;
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important
}

.insider-preview-iframe {
    width: 100%;
    height: 100%;
    display: block!important;
    border: 1px solid #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: initial!important;
    top: initial!important
}

.insider-preview-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0
}

.ui-resizable-handle {
    width: 10px!important;
    height: 10px!important;
    background-color: #333!important;
    position: absolute!important;
    z-index: 90!important
}

.ui-resizable-n {
    left: 50%!important;
    top: 0!important;
    margin: 10px 0 0 -5px!important
}

.ui-resizable-e {
    right: 0!important;
    top: 50%!important;
    margin: -5px 10px 0 0!important
}

.ui-resizable-s {
    left: 50%!important;
    bottom: 0!important;
    margin: 0 0 10px -5px!important
}

.ui-resizable-w {
    left: 0!important;
    top: 50%!important;
    margin: -5px 0 0 10px!important
}

.ui-resizable-ne {
    right: 0!important;
    top: 0!important;
    margin: 10px 10px 0 0!important
}

.ui-resizable-se {
    right: 0!important;
    bottom: 0!important;
    margin: 0 10px 10px 0!important
}

.ui-resizable-sw {
    left: 0!important;
    bottom: 0!important;
    margin: 0 0 10px 10px!important
}

.ui-resizable-nw {
    left: 0!important;
    top: 0!important;
    margin: 10px 0 0 10px!important
}

.insSelectedElement {
    box-shadow: 0 0 10px -2px #ed0e08
}

html::-webkit-scrollbar {
    display: none
}

#ins-notification .ins-dynamic-element-tag {
    border: 1px solid #383f47;
    border-radius: 30px!important;
    color: #383f47;
    padding: 5px 15px;
    margin-bottom: 5px;
    display: inline-block
}

#ins-notification .ins-selected-dynamic-element {
    color: #383f47;
    border: 1px dashed #383f47
}
